.card {
  width: 100px;
  height: 150px;
  border: 1px solid #121718;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

#playerCards {
  display: block;
  clear:both;
}

#dealerCards {
  display: block;
}

#buttons {
  display: block;
  clear:both;
}

#textBar {
  display: block;
  clear:both;
}
